<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weatherforecast.view"
    android:versionCode="1"
    android:versionName="1.0" >
    



<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 这个权限用于进行网络定位-->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<!-- 这个权限用于访问GPS定位-->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<!-- 用于读取手机当前的状态-->
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<!-- SD卡读取权限，用户写入离线定位数据-->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
	<!--允许应用读取低级别的系统日志文件 -->
	<uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" ></uses-permission>
    <!--允许应用打开系统闹钟 -->
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    
    <uses-sdk
       android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service android:name="com.baidu.location.f"
            android:enabled="true" 
            android:process=":remote" > 
        </service>
        
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ENMgQuTG4CXLwneiWcNk3SwX" />

        <activity 
            android:name="weatherforecast.view.WeatherMainActivity">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="weatherforecast.view.MainActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity android:name="weatherforecast.view.AddCityActivity" ></activity>   
        <activity android:name="weatherforecast.view.testSucceed" >
            
           
        </activity>
        <activity android:name="weatherforecast.service.NotiService" ></activity>
        
        <activity
            android:name="weatherforecast.view.ScheduleActivity" >
            
        </activity>
        
        <activity
            android:name="weatherforecast.view.AddScheduleActivity" >
        </activity>
        
        <receiver 
            android:name="weatherforecast.view.WeatherWidget">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@layout/widget_provider">
                
            </meta-data>
        </receiver>
        
        <receiver android:name="weatherforecast.service.ScheduleReceiver" >
            <intent-filter>
                <action android:name="schedule" />
            </intent-filter>
        </receiver>
        <!-- 友盟统计信息配置 ,社会化分享-->
        <meta-data android:name="UMENG_APPKEY" android:value="55a8c46967e58e2199003d0e"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="Channel ID"/>
    <activity android:configChanges="orientation|keyboard" android:launchMode="singleTask" android:name="com.umeng.socialize.view.ShareActivity" android:noHistory="true" android:theme="@style/Theme.UMDialog" android:windowSoftInputMode="stateVisible|adjustResize"/>
<activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name=".wxapi.WXEntryActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
<activity android:configChanges="orientation|keyboard" android:name="com.umeng.socialize.view.CommentActivity" android:theme="@style/Theme.UMDefault"/>
<activity android:configChanges="orientation|keyboard" android:name="com.umeng.socialize.view.CommentDetail" android:noHistory="true" android:theme="@style/Theme.UMDefault"/>
<activity android:configChanges="orientation|keyboard" android:name="com.umeng.socialize.view.CommentDetailNoMap" android:noHistory="true" android:theme="@style/Theme.UMDefault"/>
    </application>

  <uses-permission android:name="android.permission.GET_TASKS"/>
<uses-permission android:name="android.permission.SET_DEBUG_APP"/>
<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
<uses-permission android:name="android.permission.USE_CREDENTIALS"/>
<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
</manifest>
